:root{
  background-color: #ae485d;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  font-family: sans-serif;
}
h1{
  font-size: 3.5em;
  color: #8c3a4b;
  box-shadow: 1px 3px 20px -5px #a6364d;
  padding: 1em;
  border-radius: 8px;
}